  <%- include('includes/_header')%>

<div class="container body-start">
    <h1>Confirmation</h1>
    <p>Thank you, <strong><%= contact.name %></strong>, for submitting the contact form!</p>
    <p>We will contact you at email: <strong><%= contact.email %></strong> or phone: <strong><%=contact.phone%></strong> soon.</p> 
</div>

<%- include('includes/_footer')%>